<html>
  <head>
    <title>Dayshaper</title>
  </head>
  <body>
    <p/>
    <div style="margin-left: 30px">
      <h3>Welcome to dayshaper</h3>
      <span>
        &nbsp;&nbsp;&nbsp;
        <button onclick="document.location='{{ plan_url }}'">
          Plan
        </button>
        &nbsp;&nbsp;&nbsp;
        <button onclick="document.location='{{ do_url }}'">
          Do
        </button>
        &nbsp;&nbsp;&nbsp;
        <button onclick="document.location='{{ reflect_url }}'">
          Reflect
        </button>
        &nbsp;&nbsp;&nbsp;
        <button onclick="document.location='{{ prefs_url }}'">
          Preferences
        </button>
      </span>
    </div>
  </body>
</html>
